*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #153677, #4e085f);
    padding: 10px;
}
.todo-app img{
    width: 27px;
    height: 27px;
    margin-left: 8px;
}
.todo-app{
    background-color: white;
    width: 100%;
    max-width: 540px;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}
.todo-app h2{
    display: flex;
    align-items: center;
    color: #153677;
    margin-bottom: 25px;
}
.row{
    display: flex;
    padding-left: 20px;
    background-color: rgb(235, 235, 235);
    border-radius: 30px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 16px;
    font-weight: 15px;
}
button{
    padding: 16px 50px;
    color: white;
    background-color: coral;
    border: none;
    outline: none;
    border-radius: 30px;
    cursor: pointer;
}
ul li{
    list-style: none;
    position: relative;
    padding: 12px 8px 12px 50px;
    font-size: 15px;
    cursor: pointer;
}
ul li::before{
    content: '';
    position: absolute;
    top: 50%;
    background-image: url(oval.png);
    height: 20px;
    width: 20px;
    background-size: cover;
    background-position: center;
    left: 8px;
    top: 12px;
}
.checked{
    text-decoration: line-through; 
    color: #555;  
}
.checked::before{
    background-image: url(checklist.png);
    height: 20px;
    width: 20px;
    background-size: cover;
    height: 20px;
    width: 20px;
    background-size: cover;
    background-position: center;
    left: 8px;
    top: 12px;
}
ul li span{
    position: absolute;
    right: 0px;
    top: 5px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;

}
ul li span:hover{
    background: #edeef0 ;
}
